.tb2 {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.tb1{
    height: 50px;
    align-items: inline; 
}
.a {
    margin-left: auto;
    margin-right: 10px;
}

mat-button:hover {
    color:aqua;
    background: aqua;
}
