<div class="container">
    <div class="left-side">
        <div class="left-side-title">
            <a href="/view" style="margin-left: -650px;"><button mat-button>BACK</button></a>
            <h1 class="title">HiRides Online Bikeshop</h1>
        </div>
        <div class="left-side-input">
            <div class="contact">
                <h2>Contact Information</h2>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Email or Phone Number">
                </mat-form-field>
                <mat-checkbox color="primary">Keep me up to date on news and offers</mat-checkbox>
            </div>
            <div class="shipping-address">
                <h2>Shipping Address</h2>
                <div class="input-names">
                    <mat-form-field class="first-name" appearance="outline">
                        <input matInput placeholder="First Name">
                    </mat-form-field>
                    <mat-form-field class="last-name" appearance="outline">
                        <input matInput placeholder="Last Name">
                    </mat-form-field>
                </div>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Address">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Apartment, Suite, Etc. (optional)">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Contact Number</mat-label>
                    <span matPrefix>+63 &nbsp;</span>
                    <input  type="tel" matInput placeholder="000-000-000" maxlength="10">
                    <mat-icon matSuffix>mode_edit</mat-icon>
                </mat-form-field>
                <mat-checkbox color="primary">Save this information for next time</mat-checkbox>
            </div>
            <button class="submit" mat-flat-button color="primary" (click)="shipItem()">Continue to Shipping</button>
        </div>
    </div>
    <div class="right-side">
        <div class="right-side-product">
            <img src="{{products.img}}" class="item">
            <div class="right-side-prodcut-details" style="margin-left: -100px;">
                <h1 style="font-size: 30px;">{{products.name}}</h1>
                <h3>{{products.type}}</h3>
                <h2>{{products.price | currency:'PHP '}}</h2>
                <h2>Shipping Fee: PHP 80.00</h2>
            </div>
        </div>
        
        <div class="right-side-total">
            <hr>
            <span class="total">Total:</span><span class="total-price">{{products.price + 80| currency: 'PHP '}}</span>
        </div>
    </div>
</div>
