<div class="content">
   <div>
        <mat-card class="card">
            <a href="" style="float: left; margin-right: 70vh;"><mat-icon>close</mat-icon></a>
            <span><h1>What are you Listing Today?</h1></span>
            <img width="200" [src]="url" alt="" style="display: hidden;" id="prev">
            <br>
            <input type="file" id="img" name="img" accept="image/*" (change)="selectFile($event)" required>
            <label for="img" id="imgLabel" matTooltip="Recommened a photo with white background"><mat-icon style="margin-right: 5px;">add_a_photo</mat-icon>
                Choose a Photo
            </label>
            <br>
            <mat-form-field appearance="fill" style="width: 100%;" hideRequiredMarker>
                <mat-label>Type</mat-label>
                <mat-select [(ngModel)]="type" required>
                  <mat-option value="Mountain Bike">Mountain Bike</mat-option>
                  <mat-option value="Road Bike">Road Bike</mat-option>
                  <mat-option value="Kids Bike">Kids Bike</mat-option>
                  <mat-option value="Hybrid/Commuter Bike">Hybrid/Commuter Bike</mat-option>
                  <mat-option value="Fat Bike">Fat Bike</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="outline" hideRequiredMarker color="primary">
                <mat-label>Item Name</mat-label>
                <input matInput required placeholder="" name="itemName" [(ngModel)]="itemName">
              </mat-form-field>
            <div class="sub">
              <h1 style="font-size: 30px;">About The Item</h1>
              <mat-button-toggle-group style="margin-bottom: 10px;" [(ngModel)]="category">
                  <mat-button-toggle color="primary" value="For Sale">For Sale</mat-button-toggle>
                </mat-button-toggle-group>
              <p style="font-size:large;">Price</p>
              <div>
                
                <mat-form-field class="example-full-width" appearance="outline" hideRequiredMarker color="primary">
                <mat-label>Price PHP</mat-label>
                <input matInput required placeholder="" name="price" type="number" inputmode="numeric" [(ngModel)]="price" autocomplete="off">
              </mat-form-field>
            </div>
            <p style="font-size:large;">Description</p>
            <mat-form-field class="example-full-width" appearance="outline" hideRequiredMarker color="primary">
                <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                rows="3" placeholder="Describe What you are selling and 
include details a buyer might be interested in also include if it is brand new of not" [(ngModel)]="desc"></textarea>
              </mat-form-field>
            </div>
            <button mat-raised-button color="primary" (click)="addList()">Submit!</button>
        </mat-card>
    </div>
</div>