<div class="content">
    <mat-card>
        <div>
        <img src="../../assets/coverbike.jpg" alt="" class="coverhead">
        </div>
        <div class="tabs">
            <mat-tab-group>
                <mat-tab label="List">
                    Content 1
                </mat-tab>
                <mat-tab label="Reviews"> 
                    Content 2 
                </mat-tab>
                <mat-tab disabled>
                    <ng-template mat-tab-label>
                        <button mat-raised-button>Edit Profile</button>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
            
        </div>
    </mat-card>
</div>