.coverhead{
    object-fit: cover;
    margin-top: 5px;
    margin-left: 50px;
    max-width: 100%;
    height: 250px;
}
.tab1,.tab2:hover {
    background-color: aquamarine;
}
.tabs {
    max-width: min-content;
}
mat-card{
    max-width: fit-content;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    display: flexbox;
    width: 90%;
}
mat-tab{
    margin-right: 100px;
}
.content{
    padding-top: 50px;
}

