html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.home-content{
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 90%;
    
}
.content{
    padding-top: 80px;
    
}

.slider {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    width: 60%;
}
.imgslide {
   width: 100%;
}

