<html>
  <head>
  </head>

  <body>

<div class="content">
    <mat-carousel class="slider" [hideArrows]="false" [hideIndicators]="false" color="warn">
      <!-- <mat-carousel-slide *ngFor="let products of products; let i = index">
        <img class="imgslide" src="../../assets/coverbike.jpg">
      </mat-carousel-slide>
      <mat-carousel-slide>
        <img class="imgslide" src="../../assets/coverbike.jpg">
      </mat-carousel-slide>
      <mat-carousel-slide>
        <img class="imgslide" src="../../assets/coverbike.jpg">
      </mat-carousel-slide> -->
      <mat-carousel-slide *ngFor="let products of products; let i = index">
        <img class="imgslide" src="{{products.img}}" (click)="cardView(i)">
      </mat-carousel-slide>
  </mat-carousel>
    <mat-card class="home-content">
        <div class="home-content-title">
            <h3 class="title-text">RECOMMENDED FOR YOU</h3>
        </div>
        <div class="home-content-list">
          <div class="home-content-card-list" *ngFor="let products of products; let i = index" (click)="cardView(i)">
            <div class="image">
              <img src="{{products.img}}" alt="" class="product-image">
            </div>
            <div class="cardcontent">
              <p style="font-size: 14px;">{{products.name}}</p>
              <p style="font-size: 14px;">{{products.type}}</p>
              <p style="font-size: 14px;">{{products.category}}</p>
              <p style="font-size: 18px; font-weight: bold;">{{products.price |currency:'Php'}}</p>
            </div>
          </div>
        </div>
    </mat-card>
</div>


</body>

</html>