html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-color: #fff;
}

.home-content{
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
    padding: 5px;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}

.home-content > div {
    margin: 5px;
}

.home-content-title {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.title-text {
    font-size: 24px;
    margin-top: 5px;
    font-weight: 600;
    margin-left: 20px;
}

.home-content-list {
    width: 100%;
    height: 95%;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    background-color: white;
}

.home-content-list > div {
    margin: 10px;
}

.home-content-list::-webkit-scrollbar {
    display: none;
}

.home-content-card-list {
    width: auto;
    height: 310px;
    display: flex;
    margin: 0;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
}
.home-content-card-list:hover{
    cursor: pointer;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image {
    width: 100%;
    height: 50%;
    padding: 5px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-image {
    max-width: 100%;
    max-height: 100%;
}

.cardcontent {
    width: 100%;
    height: 30%;
    padding: 5px;
    margin-top: -10px;  
}

.content{
    padding-top: 80px;
    padding-bottom: 80px;
}

.slider {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    width: 60%;
}

.imgslide {
   width: 100%;
   height: 300px;
   image-rendering: auto;
}

