<html>
  <head>
  </head>

  <body>

<div class="content">
    <mat-carousel class="slider" [hideArrows]="false" [hideIndicators]="false" color="warn">
      <mat-carousel-slide>
        <img class="imgslide" src="../../assets/coverbike.jpg">
      </mat-carousel-slide>
      <mat-carousel-slide>
        <img class="imgslide" src="../../assets/coverbike.jpg">
      </mat-carousel-slide>
      <mat-carousel-slide>
        <img class="imgslide" src="../../assets/coverbike.jpg">
      </mat-carousel-slide>
  </mat-carousel>
    <mat-card class="home-content">
        <div>
            <span>RECOMMENDED FOR YOU</span>
        </div>
        <div>
        </div>
    </mat-card>
</div>

</body>

</html>