<div>
    <form class="form1">
    <mat-form-field class="example-full-width" appearance="outline" hideRequiredMarker color="warn">
        <mat-label>Username</mat-label>
        <input matInput required placeholder="">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline" hideRequiredMarker color="warn">
        <mat-label>Password</mat-label>
        <input matInput required placeholder="">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline" hideRequiredMarker color="warn">
        <mat-label>Email</mat-label>
        <input matInput required placeholder="">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline" hideRequiredMarker color="warn">
        <mat-label>Mobile</mat-label>
        <input matInput required placeholder="">
      </mat-form-field>
      <button>Sign up</button>
      <p>Have an account? Log in now</p>
    </form>
</div>